@import url("https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans&display=swap");

body {
  font-family: "Open Sans", -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    sans-serif !important;
  width: 100vw;
  overflow-x: hidden;
}

.center {
  text-align: center !important;
}

.text-muted {
  color: $text-muted !important;
}

.text-dark {
  color: $dark !important;
}
