/* Variables */
@import "variables";

/* Navbar */
@import "navbar";

/* Container */
@import "container";

/* Buttons */
@import "button";

/* Footer */
@import "footer";

body {
  font-family: sans-serif !important;
}

section {
  padding: 3rem 0 !important;
}

.section-heading {
  font-size: 2.5rem;
  font-weight: normal;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  &::first-letter {
    font-size: 2.75rem;
    color: $primary;
  }
}

.center {
  text-align: center !important;
}

.contact-wrapper {
  padding: 4rem 0 6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: $primary;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 4rem;
  color: $white !important;
  letter-spacing: 1px !important;
  .title {
    display: inline-block;
    font-size: 2.2rem;
    font-weight: normal;
  }
  .email {
    display: inline-block;
    font-size: 1.1rem;
  }
  .contact-btn {
    display: inline-block;
    color: $primary;
    background: $white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 0.9rem;
    padding: 1rem 2rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 100ms ease-in;
    &:hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }
}
